# SPDX-FileCopyrightText: 2021-2024 Helmholtz-Zentrum hereon GmbH
#
# SPDX-License-Identifier: CC0-1.0

include README.rst
include LICENSES/*
include psy_view/icons/*.png
include psy_view/icons/*.png.license
include psy_view/_version.py
